In [53]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [54]:
data=pd.read_csv(r"C:\Users\hp\Desktop\Data Science Activites\hpothesis assignment using chisquare and  t test\Sales_add.csv")

In [55]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketting.

In [56]:
#h0=their is no increase in sales after stepping into digital marketting
#h1= their is an increase in sales after stepping into digital marketting

In [57]:
SBD=data['Sales_before_digital_add(in $)']
SAB=data['Sales_After_digital_add(in $)']

In [58]:
# assumption for t test= normal distribution and equal variance

In [59]:
# to check the normal distribution

In [60]:
print(stats.shapiro(SBD))
print(stats.shapiro(SAB))

ShapiroResult(statistic=0.9306764006614685, pvalue=0.12674309313297272)
ShapiroResult(statistic=0.9702128767967224, pvalue=0.7159645557403564)

In [61]:
# in both cases pvalue value is greater than  alpha value 0.05 ,hence the assumption normal distribution is true

In [62]:
#to check the equal variance

In [63]:
stats.levene(SBD,SAB,center='mean')

LeveneResult(statistic=5.171664124853503, pvalue=0.028130575490495715)

In [64]:
#in  this case pvalue is less than alpha value0.05,hence the assumption of equal variance is false so we use welch t test

In [65]:
stats.ttest_ind(SBD,SAB,equal_var=False)

Ttest_indResult(statistic=-12.995084451110877, pvalue=1.1019671619608604e-14)

df=21-1=20 siginifcance level=0.05, so the table value is 2.086
here the table value is less than caluculated value so we reject null hypothesis and accept alternative hypothesis
their is an increase in sales after stepping into digital marketting/p value is less than alpha vlaue so we reject null hypothesis

# The company needs to check whether there is any dependency between the features "region " and "manger"

In [66]:
# h0= variabe are independent
# h1= alternative hypothesis variables are dependent

In [67]:
from scipy.stats import chi2_contingency

In [68]:
ctab=pd.crosstab(data['Region'],data['Manager'])
print(ctab)

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [69]:

rs=chi2_contingency(ctab)
rs

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [70]:
Chi_Stat_value=rs[0]
p_val=rs[1]
d_o_f=rs[2]
alpha=0.05

In [75]:
criticalvalue=stats.chi2.ppf(0.95,4) # 0.95=1-alpha value
                                    #4= degree of freedom
criticalvalue

9.487729036781154

In [77]:
if (Chi_Stat_value>=criticalvalue)&(p_val<=alpha):
    print('Reject null hypothesis and there is dependency between 2 variables')
else:
    print('accept null hypothesis and there is no dependency between 2 variables')

accept null hypothesis and there is no dependency between 2 variables